
<div class="container">

  <div class="upper-data">
  
  <img src="../assets/cold1.jpg" *ngIf="14 <= 15">
  <img src="../assets/hot1.jpg "  *ngIf="14 > 15">
  
  <div class="weather-data">
  
    <div class="location">{{cname}}</div>
    <div class="temperature">{{tem}}°F</div>
  </div>
  </div>
  
  <div class="lower-data">
  <div class="more-info-lable">
    More Information
  </div>
  
  <div class="more-info-container">
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/max.jpg"   >
        <span>Min</span>
      </div>
      <div class="info-block-value">
        {{tmp_min}}°F
      </div>
    </div>
  
  
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/max1.png" >
        <span>Max</span>
      </div>
      <div class="info-block-value">
        {{tmp_max}}°F
      </div>
    </div>
  
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/max.jpg" >
        <span>Humidity</span>
      </div>
      <div class="info-block-value">
        {{humidity}}%
      </div>
    </div>
  
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/max1.png">
        <span>Wind</span>
      </div>
      <div class="info-block-value">
        {{wind}} km/hr
      </div>
    </div>
  
  </div>
  </div>
  
  
  </div>
  
  
  <router-outlet></router-outlet>